
{% extends "org_layout.html" %}

{% block content %}   
    
    <style>
        .mybg{
            background: linear-gradient(130deg, rgba(52, 206, 244, 0.97) 0%, rgb(30, 19, 232) 100%);
        }
    </style>


    <div class="container w-50 p-5 mt-5 rounded shadow-lg mybg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>UPLOAD CAMP PHOTO</h1>
        <form action="/org_camp_photo?campID={{campID}}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="">Upload Photo</label>
                <input class="form-control" type="file" name="photo">
            </div>
        </div>
        

        <div class="row">
            <div class="col">
                <button class="btn btn-danger mt-3" type="submit">Upload now</button>
            </div>
        </div>
    </form>

    <hr>
    <div class="row">
        {% if photo %}
        {% for p in photo %}
        <div class="col-6 mt-2">
            <img width="100%" height="200px" src="../static/camp/{{p[0]}}" alt="">
            <a href="/org_photo_delete?campPhotoID={{p[1]}}&campID={{p[2]}}"><img src="../static/images/icons8-delete.svg" alt=""></a>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-primary">Photo not yet uploaded!!</p>
        {% endif %}
    </div>
    </div>
{% endblock %}