{% extends "user_layout.html" %}

{% block content %}   
    

    <div class="container w-50 p-5 mt-5 rounded shadow-lg mybg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>User Password Change</h1>
        <form action="/user_change_password" method="post">
       
        <div class="row">
            <div class="col">
                <label for="">Old Password</label>
                <input class="form-control" type="password" name="oldPassword" placeholder="Enter your old password">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">New Password</label>
                <input class="form-control" type="password" name="newPassword" placeholder="Enter your new password">
            </div>
        </div>
       
       
        <div class="row">
            <div class="col">
                <button class="btn btn-success mt-3" type="submit">Change Password</button>
            </div>
        </div>
       
        </form>
    
    </div>
{% endblock %}